h1{
    font-size: 4rem;
}

// header start --------------------------
.main-header {
    .start-header {
        opacity: 1;
        transform: translateY(0);
        padding: 8px 0;
        // box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
        background: #f8f9fe;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &.scroll-on {
            box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
            padding: 10px 0;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            .navbar-brand {
                img {
                    height: 40px;
                    -webkit-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
    .navigation-wrap {
        position: fixed;
        // position: relative;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        img {
            height: 50px;
            width: auto;
            display: block;
            // filter: brightness(10%);
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
    }
    .navbar-toggler {
        float: right;
        border: none;
        padding-right: 0;
    }
    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-light {
        .navbar-toggler-icon {
            width: 24px;
            height: 18px;
            background-image: none;
            position: relative;
            border-bottom: 1px solid #000;
            transition: all 300ms linear;
            &:after {
                top: 8px;
            }
        }
    }
    .navbar-light .navbar-toggler-icon:after {
        width: 24px;
        position: absolute;
        height: 1px;
        background-color: #000;
        top: 10px;
        left: 0;
        content: "";
        z-index: 2;
        transition: all 300ms linear;
    }
    .navbar-light .navbar-toggler-icon:before {
        width: 24px;
        position: absolute;
        height: 1px;
        background-color: #000;
        top: 3px;
        left: 0;
        content: "";
        z-index: 2;
        transition: all 300ms linear;
    }
    .navbar-toggler[aria-expanded="true"] {
        .navbar-toggler-icon {
            border-color: transparent;
            &:after {
                transform: rotate(45deg);
            }
            &:before {
                transform: translateY(8px) rotate(-45deg);
            }
        }
    }
    .nav-link {
        color: #000 !important;
        font-family: "Roboto";
        font-weight: 600;
        transition: all 200ms linear;
        position: relative;
        // padding: 5px 0 !important;
        display: inline-block;
        // font-size: 1.125rem;
        font-size: 1rem;
        padding: 0;
    }
    .nav-item {
        position: relative;
        transition: all 200ms linear;
        // padding: 0 16px;
        padding: 0 0.4rem;
        span {
            color: #000;
            font-family: "Roboto";
            font-weight: 600;
            cursor: pointer;
            a {
                color: #000;
            }
            &:hover {
                color: #044d8c;
                a {
                    color: #044d8c;
                    text-decoration: none;
                }
            }
        }
        &:hover {
            .nav-link {
                color: #044d8c !important;
            }
            &:after {
                bottom: 0;
                opacity: 1;
            }
        }
        &.active {
            .nav-link {
                color: #044d8c !important;
            }
            &:hover {
                &:after {
                    opacity: 0;
                }
            }
        }
        &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            content: "";
            // background-color: #044d8c;
            opacity: 0;
            transition: all 200ms linear;
        }
        .dropdown-menu {
            transform: translate3d(0, 10px, 0);
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            display: block;
            padding: 0;
            margin: 0;
            transition: all 200ms linear;
        }
        &.show {
            .dropdown-menu {
                opacity: 1;
                visibility: visible;
                max-height: 999px;
                transform: translate3d(0, 0px, 0);
            }
        }
    }
    .dropdown-menu {
        padding: 10px !important;
        margin: 0;
        font-size: 0.813rem;
        letter-spacing: 1px;
        color: #000;
        border: none;
        transition: all 200ms linear;
        background: #ffffff 0% 0% no-repeat padding-box;
        // box-shadow: 0px 6px 16px 4px #d4daf45c;
        // border-radius: 11px;
        box-shadow: 0px 0px 20px #00000029;
        border-radius: 8px;
    }
    // .dropdown-toggle {
    //     &::after {
    //         display: none;
    //     }
    // }
    .dropdown-item {
        padding: 4px 10px;
        color: #000;
        border-radius: 2px;
        transition: all 200ms linear;
        border-bottom: 1px solid #eaeaea;
        font-weight: 600;
        &:last-child {
            border-bottom: 0px;
        }
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
        color: #fff;
        background-color: #044d8c;
    }
}
@media only screen and (max-width: 1199px) {
    .main-header .nav-item {
        position: relative;
        transition: all 200ms linear;
        padding: 0 2px;
    }
}
@media only screen and (max-width: 992px) {
    .main-header .nav-item a {
        font-size: 0.8rem;
    }
    .main-header .navbar-brand img {
        height: 34px;
    }
    .main-header .start-header.scroll-on .navbar-brand img {
        height: 30px;
    }
    .main-header .dropdown-item {
        font-size: 0.6rem !important;
    }
}
@media only screen and (max-width: 1096px) {
    .main-header .nav-item {
        padding: 0 0px;
    }
    .main-header .nav-item a {
        font-size: 0.66rem;
    }
}

@media only screen and (max-width: 767px) {
    .main-header {
        ul.navbar-nav {
            padding: 20px;
        }
        .nav-item {
            // padding: 0;
            padding: 0 5px;
            a {
                font-size: 1.1rem;
            }
            span {
                display: block;
            }
            a.nav-link.dropdown-toggle {
                display: initial;
            }
            &:after {
                display: none;
            }
            &::before {
                position: absolute;
                display: block;
                top: 13px;
                left: -14px;
                width: 11px;
                height: 1px;
                content: "";
                border: none;
                background-color: #000;
                vertical-align: 0;
            }
            &.single-item {
                &::before {
                    display: none;
                }
            }
        }
        .dropdown-toggle {
            &::after {
                position: absolute;
                display: block;
                top: 3px;
                left: -18px;
                width: 1px;
                height: 11px;
                content: "";
                border: none;
                background-color: #000;
                vertical-align: 0;
                transition: all 200ms linear;
            }
        }
        .dropdown-toggle[aria-expanded="true"]::after {
            transform: rotate(90deg);
            opacity: 0;
        }
        .dropdown-menu {
            padding: 0 !important;
            background-color: transparent;
            box-shadow: none;
            transition: all 200ms linear;
        }
        .dropdown-toggle[aria-expanded="true"] {
            & + .dropdown-menu {
                margin-top: 10px !important;
                margin-bottom: 20px !important;
            }
        }
        body {
            &.dark {
                .nav-item {
                    &::before {
                        background-color: #fff;
                    }
                }
                .dropdown-toggle {
                    &::after {
                        background-color: #fff;
                    }
                }
                .dropdown-menu {
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }
    .main-header .dropdown-item {
        font-size: 1rem !important;
    }
}

// header end